version: "3.8"
services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  node1:
    build: .
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8080:8080"
      - "9090:9090"
    depends_on: ["redis"]
  node2:
    build: .
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "8081:8080"
    depends_on: ["redis"]
